* {
  box-sizing: border-box;
}

body {
  margin: unset;
  font-family: Arial, Helvetica, sans-serif;
  color: #742204;
}

header {
  background-color: #fef7e2;
  width: 100%;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
}

li {
  background-color: #ffdf7f;
  font-weight: 700;
  font-size: 0.8rem;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  padding-top: 12px;
}

#shop-btn {
  height: 80px;
  border-radius: 40px;
  width: 140px;
  font-size: 1.5rem;
  padding-top: 25px;
}

#shop-btn img {
  margin-right: 18px;
  vertical-align: middle;
}

main {
  padding: 15px;
}

h1,
h2 {
  font-weight: 800;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
}

.cards {
  width: 250px;
  height: 290px;
  background-color: #fef7e2;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}

.honey-img img {
  width: 100%;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}

.card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.product-description {
  text-align: center;
}

.product-description h4,
.product-description p {
  margin: 0;
}

.product-description p {
  font-size: 0.8rem;
}

.cards button {
  align-self: center;
  border-style: none;
  width: 160px;
  height: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  color: #742204;
  background-color: #ffdf7f;
  border-radius: 20px;
  margin-top: 20px;
}

h2 {
  margin-bottom: 10px;
}

.article-container {
  background-color: #fef7e2;
  padding: 25px;
  border-radius: 30px;
}

.article-text h3 {
  font-weight: 800;
  margin-top: 0;
}

.article-img img {
  width: 100%;
}
